:root {
  --Linkbrary-Primary-color: #6D6AFE;
  --Linkbrary-Red: #FF5B56;
  --The-Julge-Black: #111322;
  --Linkbrary-White: #fff;
  --Linkbrary-gray100 : #3E3E43;
  --Linkbrary-gray60 : #9FA6B2;
  --Linkbrary-gray20 : #CCD5E3;
  --Linkbrary-gray10 : #E7EFFB;
  --Linkbrary-bg : #F0F6FF;
}