:root {
  --LinkbraryPrimary: #6D6AFE;
  --LinkbraryRed: #FF5B56;
  --LinkbraryBlack: #111322;
  --LinkbraryWhite: #fff;
  --LinkbraryGray100 : #3E3E43;
  --LinkbraryGray60 : #9FA6B2;
  --LinkbraryGray20 : #CCD5E3;
  --LinkbraryGray10 : #E7EFFB;
  --LinkbraryBG : #F0F6FF;
}